<div id="author" class="pannel-container twoPannels">
	
	<div class="pannel left">
		<div >

			<h2 class="title">Sitio desarrollado por <span class="spanBlock">Maria Villen</span></h2>

			<div class="marco">
			</div>
		</div>

	</div>

	<div class="pannel right" >
		<div>
			<div class="iframe-pannel">
			<iframe class="iframe-responsive" width="400" height="225" src="https://www.youtube.com/embed/8I5VpIlwr54?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
			<p class="comment">Desarrollo de Servicios</p>
			<p class="comment">en la Nube con HTML5, Javascript y node.js</p>
		</div>
	</div>
	
</div>