<label for = "preg" class = "rem">Pregunta: </label>
<input type = "text" id = "preg" name = "quiz[pregunta]" value = "<%= quiz.pregunta %>"/>

<label for ="resp" class = "rem"></label>
<input type = "text" id = "resp" name = "quiz[respuesta]" value = "<%= quiz.respuesta %>"/>

<label for ="cate" class = "rem"></label>
 <select name="quiz[categoria]"
  <option value="otro" selected>Otro</option>
  <option value="humanidades">Humanidades</option>
  <option value="ocio">Ocio</option>
  <option value="ciencia">Ciencia</option>
  <option value="tecnologia">Tecnología</option>
 </select>

<a href = "/quizes"> <button type = "button">Cancelar</button></a>
<input type="submit" value = "salvar" />
