<label for = "preg" class = "rem">Pregunta: </label>
<input type = "text" id = "preg" name = "quiz[pregunta]" placeholder = "<%= quiz.pregunta %>"/>

<label for ="resp" class = "rem"></label>
<input type = "text" id = "resp" name = "quiz[respuesta]" placeholder = "<%= quiz.respuesta %>"/>
<a href = "/quizes"> <button type = "button">Cancelar</button></a>
<input type="submit" value = "salvar" />
