<div id="respuestas" class="pannel">
	<div>
		<p class="titleGigant"><%= respuesta %></p>
		<span class="link-light hvr-pulse-shrink">
			<a href="/quizes/<%= quiz.id %>"> Volver </a>
		</span>
	</div>
</div>