<div id="preguntas" class="pannel">
	<div>
		<form method="GET" action="/quizes/answer">
		  <p class="titleGigant">Pregunta: <%= pregunta %></p>
			<input type="text" name="respuesta" placeholder="Responda aquí"/>
			<br/>
			<input type="submit" value="Enviar"/>
		</form>
	</div>
</div>